.header {
  width: 100%;
  display: flex;
  gap: 1.5em;
  justify-content: space-around;
  max-height: 80px;
  padding: 10px 15px;
}

.menu-logo-container {
  display: flex;
  gap: 1.5em;
}