@import 'styles/abstract/variables.scss';

.box-input {
  border-radius: 25px;
  width: 90%;
  padding: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  .icon {
 
  }
  input {
    margin: 0 auto;
    width: 100% ;
    margin-left: 5px;
    &::placeholder {
      font-size: 12px;
      text-align: center;
      color: $dark-blue;
    }
  }
  &--white {
    border: 1px solid $white;
  }
  &--blue {
    border: 1px solid $dark-blue;
  }
}